/InkCanvasForClass/obj
/InkCanvasForClass/bin
/InkCanvasForClassX/obj
/InkCanvasForClassX/bin
/InkCanvasForClassPPTVsto/obj
/InkCanvasForClassPPTVsto/bin
/PeroInstaller/obj
/PeroInstaller/bin
/CvtePaintDemo/obj
/CvtePaintDemo/bin
/.vs
/.idea