/InkCanvasForClass/obj
/InkCanvasForClass/bin
/InkCanvasForClassX/obj
/InkCanvasForClassX/bin
/InkCanvasForClass.IACoreHelper/obj
/InkCanvasForClass.IACoreHelper/bin
/InkCanvasForClass.PowerPoint.InteropHelper/obj
/InkCanvasForClass.PowerPoint.InteropHelper/bin
/InkCanvasForClass.PowerPoint.Vsto/obj
/InkCanvasForClass.PowerPoint.Vsto/bin
/InkCanvasForClass.IccInkCanvas/obj
/InkCanvasForClass.IccInkCanvas/bin
/InkCanvasForClass.IccInkCanvas.Demo/obj
/InkCanvasForClass.IccInkCanvas.Demo/bin
/.vs
/.idea